<html>
  {% load static %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'polls/style.css' %}"
  />
  <head> </head>
  <body>
    <div class="header">
      <h1>A poll website</h1>
    </div>

    <div class="container">
      <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend><h1>{{ question.question_text }}</h1></legend>
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %} {% for choice in question.choice_set.all %}
          <label class="form-control">
            <input
              type="radio"
              name="choice"
              id="choice{{ forloop.counter }}"
              value="{{ choice.id }}"
            />
            {{ choice.choice_text }}
          </label>
          <br />
          {% endfor %}
        </fieldset>
        <input type="submit" value="Vote" />
      </form>
    </div>
  </body>
</html>
