li a {
  color: black;
  font-size: larger;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: column;
  padding: 30pt;
}
